<div id="topbar-nav" class="navbar-menu">
    <div class="navbar-end">
        <!--a class="navbar-item" href="#">Home</a-->
        <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" href="#">Resources</a>
            <div class="navbar-dropdown">
                <a class="navbar-item" href="https://github.com/dke-data">Github</a>
                <a class="navbar-item" href="https://io.my-agrirouter.com">InOut Tool</a>
                <a class="navbar-item" href="https://dev-tools.my-agrirouter.com/cyberchef/">CyberChef</a>
                <a class="navbar-item" href="https://agrirouter.com">Website</a>
                <a class="navbar-item" href="https://goto.my-agrirouter.com">agrirouter Production</a>
                <a class="navbar-item" href="https://qa.my-agrirouter.com">agrirouter QA</a>
            </div>
        </div>
        <div class="navbar-item">
            <span class="control">
                <a class="button is-primary" href="https://github.com/dke-data">Github</a>
            </span>
        </div>
    </div>
</div>